:root{
    --mainColor:#15202B;
    --secondaryColor:#192734;

    --borderColor:	#0d424b;
    --mainText:#FFF;
    --secondaryText:#EEEEEE;
    --themeDotBorder:#FFF
    --previewbg:rgba(25, 39, 52, 0.8);
    --preview-shadow:#111921;
    --btnColor:#17a2b8;
}
